#contacto{
	margin:100px
}
#paragrafoContacto{ 
	
	

}
figcaption{
	color:#75A319;/*rgb(126,183,43);*/
 
	margin-left:90px;
}

#imagemlogo{
	margin-left:220px;
}

#spnclabs{
	margin-left:212px;
 
	
}

#spndescricao{
	margin-left:175px;
	color:#C26666;
	font-size:12px;
	
}
